<%- include('partials/header') %>

<head>
  <link rel="stylesheet" href="/blog.css">
  <title>Profile</title>
</head>
<body style="background-color: none;">
    

    <div>
    <h1 style="color: rgb(251, 247, 3); margin:50px 0px 10px 0px; text-align:center">User details</h1>
    <div class=" container">
        <div class="row">
            <div class="flex-container">

                <div class="flex-child magenta">
                    <div>
                        <div class="card" style="margin: 10px;">
                            <div class="card-body">
                                <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                    <b>Name : </b>
                                    <%= user_data.name %>
                                </p>

                                <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                    <b>Username :</b>
                                    <%= user_data.username %>
                                </p>


                                <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                    <b>Email :</b>
                                    <%= user_data.email %>
                                </p>

                                <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                    <b>Quiz created :</b>
                                    <%= quiz.length %>
                                </p>


                            </div>
                        </div>
                    </div>
                </div>

                

            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <% for(let i in quiz){ %>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4" style="margin:20px 0px;">



                    <div class="card" style="margin: 10px;">

                        <div class="card-body">
                            <h4 class="card-title">
                                <%= quiz[i].title %>
                            </h4>
                            <p class="card-text">
                                <%= quiz[i].question[0].question %>
                            </p>

                            <a href="/read:<%= quiz[i]._id %>" class="btn btn-info">Read More</a>
                        </div>

                    </div>
                </div>
                <% } %>
        </div>

    </div>


    </div>
</body>
